:root {
  --color-primary: #0072e3;
  --color-secondary: #218efb;
  --color: #ec5fff;
  --gradient-primary: linear-gradient(to top left, #b01dff, #ff58e6);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.9;
  background-color: #000000;
}

/* BUTTON */
.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 120%;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 8px 15px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

.btn:hover {
  background-color: white;
  color: var(--color-secondary) !important;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 120%;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-secondary);
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: all 0.3s;
}

button:focus {
  outline: none;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* NAVIGATION BAR */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  width: 100%;
  z-index: 100;
  border-bottom: 1.5px solid rgb(150, 150, 150);
  background-color: rgba(0, 0, 0, 0.9);
}

.nav__item {
  padding: 15px;
}

.nav__item:hover {
  font-size: 115%;
}

.nav__logo {
  width: 2%;
  transition: all 0.3s;
  padding-left: 2%;
  cursor: pointer;
}

.nav__all {
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 1%;
}

.nav__all :hover {
  color: var(--color-secondary);
}

.nav__link:link,
.nav__link:visited {
  font-size: 120%;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 8px 15px;
  border-radius: 100px;
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: white;
  color: var(--color-secondary);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER */
.header__title {
  max-width: 100%;
  display: grid;
  align-content: center;
  justify-content: left;
  align-items: start;
  justify-items: start;
  padding: 15% 4%;
  margin: 0%;
}

.title,
.title2 {
  animation: intro 2.5s;
}

@keyframes intro {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0px;
  }
}

h1 {
  margin: 0px;
  padding: 0px;
  font-size: 500%;
  line-height: 1.35;
}

h4 {
  z-index: 1;
  margin: 1;
  font-size: 250%;
  font-weight: 500;
}

/* button learn more */
.btn--scroll-to {
  font-size: 150%;
}

.btn--scroll-to:hover {
  color: rgb(149, 234, 255);
}

.btn-animation {
  display: flex;
  min-height: 30px;
}
.arrow-down {
  animation: shake 0.8s infinite;
  padding-left: 5px;
}

@keyframes shake {
  0% {
    padding-top: 0px;
  }
  50% {
    padding-top: 4px;
  }
  100% {
    padding-top: 0px;
  }
}

/* TEXT HEADER */
.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.09, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* Header image */
.header__img {
  z-index: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5%;
  top: 40%;
  display: block;
  margin-left: auto;
  width: 30%;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* GENERAL ELEMENTS */
.section {
  padding: 15% 4%;
  border-top: 1px solid rgb(50, 50, 50);
  transition: transform 2s, opacity 2s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(10%);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SLIDER */
.color__description {
  color: var(--color);
  font-size: 200%;
  font-weight: 600;
  text-transform: uppercase;
}

.slider {
  display: flex;
  width: 80%;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.image {
  width: 450px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(40, 40, 40, 0.7);
  font-family: inherit;
  color: rgb(255, 255, 255);
  border-radius: 100%;
  font-size: 250%;
  cursor: pointer;
  padding: auto;
}

.slider__btn--left {
  left: 4%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 4%;
  transform: translate(50%, -50%);
}

/* DOTS */
.dots {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 48.5%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #929292;
  opacity: 0.7;
  height: 12px;
  max-width: 100%;
  border-radius: 100%;
  margin-right: 30%;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* NOTCH */
.notch__title {
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.notch__description {
  color: var(--color);
  font-size: 200%;
  font-weight: 600;
  text-transform: uppercase;
}

.notch__header {
  font-size: 400%;
  margin: 2%;
}

.notch__p {
  font-size: 150%;
  margin-bottom: 4%;
}

.notch__img {
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* DISPLAY */
.display__title {
  text-align: left;
  max-width: 80%;
}

.display__description {
  color: var(--color);
  font-size: 200%;
  font-weight: 600;
  text-transform: uppercase;
}

.display__header {
  font-size: 400%;
}

.display__p {
  font-size: 150%;
}

.display__img {
  display: block;
  width: 60%;
  margin-left: auto;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CAMERA */
.camera__title {
  max-width: 80%;
}

.camera__description {
  margin-top: 10%;
  color: var(--color);
  font-size: 200%;
  font-weight: 600;
  text-transform: uppercase;
}

.camera__header {
  font-size: 400%;
}

.camera__p {
  font-size: 150%;
}

.camera__img {
  position: relative;
  left: 4%;
  display: block;
  width: 50%;
  margin-left: auto;
}
.camera2__img {
  position: relative;
  right: 12%;
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CPU */
.cpu__title {
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  max-width: 80%;
}

.cpu__description {
  color: var(--color);
  font-size: 200%;
  font-weight: 600;
  text-transform: uppercase;
}

.cpu__header {
  font-size: 400%;
}

.cpu__p {
  font-size: 150%;
}

.cpu__img {
  position: relative;
  display: block;
  width: 25%;
  margin-right: auto;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* BATTERY */
.battery__title {
  margin-left: auto;
  margin-right: auto;
  text-align: auto;
  max-width: 80%;
}

.battery__description {
  color: var(--color);
  font-size: 200%;
  font-weight: 600;
  text-transform: uppercase;
}

.battery__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SIGNUP */
.section--buy {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 4%;
}

.section--buy .buy__header {
  font-size: 300%;
  color: #fff;
  text-align: center;
}

.section--buy .buy__title {
  margin-bottom: 4%;
}

.section--buy .btn {
  color: white;
  font-size: 120%;
  padding: 12px 18px;
  border-radius: 100px;
  font-weight: 500;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FOOTER */
.footer {
  padding: 2%;
  background-color: #28292c;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.footer__item {
  margin-right: 4%;
}

.footer__link {
  font-size: 120%;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  width: 3%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
}

.footer__copyright {
  font-size: 100%;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 105%;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background-color: #323232;
  padding: 3% 4%;
  box-shadow: 0 4% 6% rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 300%;
  margin-bottom: 10%;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3%;
  display: grid;
  align-items: center;
  gap: 20px;
}

.modal__form label {
  font-size: 150%;
  font-weight: 500;
}

.modal__form input {
  font-size: 150%;
  padding: 3% 6%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 7%;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5%;
  right: 3%;
  font-size: 400%;
  cursor: pointer;
  border: none;
  background: none;
}

.btn--close-modal:hover {
  color: rgb(255, 182, 182);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* MOBILE RESPONS */
@media (max-width: 500px) {
  h1 {
    padding-top: 3%;
    font-size: 400%;
  }
  h4 {
    font-size: 150%;
  }
  .title2 {
    padding-top: 6%;
  }
  .title,
  .title2 {
    animation: intro 2.5s;
  }
  @keyframes intro {
    0% {
      margin-left: 0px;
    }
    50% {
      margin-left: 10px;
    }
    100% {
      margin-left: 0px;
    }
  }
  .btn--scroll-to {
    padding-top: 3%;
    font-size: 180%;
    min-height: 45px;
  }
  .header__img {
    top: 60%;
    width: 80%;
    right: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  .header {
    padding-bottom: 25%;
  }
  /* NAV-BAR */
  .nav {
    height: 5%;
  }
  .nav__all {
    padding-left: 0;
  }
  .nav__item {
    padding: 5px;
  }
  .nav__item:hover {
    font-size: 100%;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 10%;
    font-weight: 200;
  }
  .nav__logo {
    width: 4%;
  }
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 5px 8px;
    border-radius: 100px;
    background-color: var(--color-primary);
    color: rgb(255, 255, 255);
  }
  /* SECTIONS */
  .section {
    padding: 35% 2%;
  }
  /* SLIDER */
  .color__description {
    font-size: 100%;
  }
  .slider {
    padding-top: 20%;
    height: 400px;
    padding-bottom: 40%;
  }
  .slide {
    width: 100%;
  }
  .image {
    width: 350px;
  }
  .slider__btn {
    top: 50%;
    height: 22px;
    border-radius: 100%;
    font-size: 100%;
  }
  .slider__btn--left {
    left: 4%;
  }
  .slider__btn--right {
    right: 4%;
  }
  .dots {
    left: 42%;
    padding-bottom: 20%;
  }
  /* NOTCH */
  .notch__description {
    font-size: 150%;
  }
  .notch__header {
    font-size: 350%;
  }
  .notch__p {
    font-size: 150%;
    margin-bottom: 14%;
  }
  .notch__img {
    width: 90%;
  }
  /* DISPLAY */
  .display__description {
    font-size: 140%;
  }
  .display__header {
    font-size: 350%;
  }
  .display__p {
    font-size: 150%;
  }
  .display__img {
    width: 80%;
  }
  /* CAMERA */
  .camera__description {
    font-size: 150%;
  }
  .camera__header {
    font-size: 200%;
  }
  .camera__p {
    font-size: 150%;
  }
  .camera__img {
    left: 1.5%;
    width: 80%;
  }
  .camera2__img {
    right: 12%;
    width: 100%;
    padding-left: 12%;
  }
  /* CPU */
  .cpu__description {
    font-size: 150%;
  }
  .cpu__header {
    font-size: 350%;
  }
  .cpu__p {
    font-size: 150%;
  }
  .cpu__img {
    width: 50%;
  }
  /* BATTERY */
  .battery__description {
    font-size: 150%;
  }
  .battery__img {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 50%;
  }
  /* SIGNUP */
  .section--buy {
    padding: 7%;
  }
  .section--buy .buy__header {
    font-size: 100%;
  }
  .section--buy .buy__title {
    margin-bottom: 4%;
  }
  .section--buy .btn {
    font-size: 80%;
    padding: 8px 12px;
    font-weight: 300;
  }
  /* FOOTER */
  .footer {
    padding: 2%;
  }
  .footer__nav {
    margin-bottom: 3%;
    padding-left: 0;
  }
  .footer__item {
    margin-right: 3%;
  }
  .footer__link {
    font-size: 2%;
  }
  .footer__logo {
    width: 5%;
    margin-bottom: 4%;
  }
  .footer__copyright {
    font-size: 40%;
  }
  .footer__copyright .footer__link {
    font-size: 45%;
  }
  /* MODAL WINDOW */
  .modal__header {
    font-size: 180%;
  }
  .modal__form label {
    font-size: 100%;
    font-weight: 500;
  }
  .btn--close-modal {
    font-size: 200%;
  }
}
